Repository OkMoK-co/OkMoK, pull requests merged in 2023-04, with the labels that each got.

#34 [Feat] 로그인 및 착수응답 처리 #32
  hybrid/src/components/game/OmokBoard.tsx
  hybrid/src/components/game/Timer.tsx
  hybrid/src/components/game/TimerAndPut.tsx
  hybrid/src/components/layout/SocketConnect.tsx
  hybrid/src/pages/game.tsx
  hybrid/src/socket/requestHandler.tsx
  hybrid/src/socket/responseHandler.tsx
  hybrid/src/socket/routeSocketFunction.ts
  hybrid/src/utils/recoil/socket.ts
  hybrid/src/utils/type/socketType.ts
  socketserver/app/srcs/packet/Packet.hpp
  socketserver/app/srcs/packet/PacketID.hpp
  socketserver/app/srcs/packet/PacketManager.cpp
  socketserver/app/srcs/packet/PacketManager.hpp
  socketserver/app/srcs/user/User.cpp
  socketserver/app/srcs/user/User.hpp
Labels: client, c++ server

#36 [Feat] 방 데이터 조회 기능 구현 #31
  hybrid/src/components/game/Players.tsx
  hybrid/src/components/game/TimerAndPut.tsx
  hybrid/src/pages/game.tsx
  hybrid/src/socket/responseHandler.tsx
  hybrid/src/socket/routeResponse.ts
  hybrid/src/utils/recoil/socket.ts
  hybrid/src/utils/type/socketType.ts
  socketserver/app/srcs/packet/Packet.hpp
  socketserver/app/srcs/packet/PacketManager.cpp
  socketserver/app/srcs/packet/PacketManager.hpp
Labels: client, c++ server

#37 [Refactor] 각 페이지 이동 시 socket send 기능 hook으로 리팩토링
  hybrid/src/hooks/useEnterPage.tsx
  hybrid/src/pages/game.tsx
  hybrid/src/pages/index.tsx
Labels: client

#38 [Feat] 백엔드 게임매니저, 게임 착수 구현 #32
  socketserver/app/CMakeLists.txt
  socketserver/app/srcs/game/Game.cpp
  socketserver/app/srcs/game/Game.hpp
  socketserver/app/srcs/game/GameManager.cpp
  socketserver/app/srcs/game/GameManager.hpp
  socketserver/app/srcs/packet/Packet.hpp
  socketserver/app/srcs/packet/PacketErrorCode.hpp
  socketserver/app/srcs/packet/PacketID.hpp
  socketserver/app/srcs/packet/PacketManager.cpp
  socketserver/app/srcs/packet/PacketManager.hpp
  socketserver/app/srcs/room/Room.cpp
  socketserver/app/srcs/room/Room.hpp
  socketserver/app/srcs/room/RoomManager.cpp
  socketserver/app/srcs/room/RoomManager.hpp
  socketserver/app/srcs/user/User.cpp
  socketserver/app/srcs/user/User.hpp
Labels: c++ server

#39 [Feat] 방 입장 기능 구현 #31
  hybrid/src/components/main/PlayButton.tsx
  hybrid/src/components/main/RoomItem.tsx
  hybrid/src/socket/responseHandler.tsx
  hybrid/src/socket/routeResponse.ts
  socketserver/app/srcs/packet/Packet.hpp
  socketserver/app/srcs/packet/PacketErrorCode.hpp
  socketserver/app/srcs/packet/PacketManager.cpp
  socketserver/app/srcs/room/RoomManager.cpp
  socketserver/app/srcs/room/RoomManager.hpp
Labels: client, c++ server

#40 [Feat] 착수 응답 캔버스에 렌더링 #32
  hybrid/src/components/game/OmokBoard.tsx
  hybrid/src/components/game/PointBoard.tsx
  hybrid/src/components/game/TimerAndPut.tsx
  hybrid/src/hooks/useDrawOkmok.tsx
  hybrid/src/socket/responseHandler.tsx
  hybrid/src/socket/routeResponse.ts
  hybrid/src/utils/recoil/socket.ts
  hybrid/src/utils/type/socketType.ts
  socketserver/app/srcs/game/Game.cpp
  socketserver/app/srcs/game/Game.hpp
  socketserver/app/srcs/game/GameManager.cpp
  socketserver/app/srcs/game/GameManager.hpp
  socketserver/app/srcs/packet/Packet.hpp
  socketserver/app/srcs/packet/PacketManager.cpp
  socketserver/app/srcs/packet/PacketManager.hpp
Labels: client, c++ server

#42 [Feat] 게임 승리 여부 체크 및 상수 추가
  hybrid/src/components/game/OmokBoard.tsx
  hybrid/src/components/game/PointBoard.tsx
  hybrid/src/hooks/useDrawOkmok.tsx
  hybrid/src/socket/responseHandler.tsx
  hybrid/src/utils/constants.ts
  hybrid/src/utils/recoil/socket.ts
  hybrid/src/utils/type/socketType.ts
  socketserver/Makefile
  socketserver/app/srcs/game/Game.cpp
  socketserver/app/srcs/game/Game.hpp
  socketserver/app/srcs/game/GameManager.cpp
  socketserver/app/srcs/game/GameManager.hpp
  socketserver/app/srcs/game/Okmok.hpp
  socketserver/app/srcs/packet/Packet.hpp
  socketserver/app/srcs/packet/PacketManager.cpp
  socketserver/app/srcs/packet/PacketManager.hpp
Labels: client, c++ server

#44 [Refactor] 소켓 데이터 요청 훅으로 리팩토링 #31
  hybrid/src/components/game/KickoutButton.tsx
  hybrid/src/components/game/ReadyButton.tsx
  hybrid/src/components/game/TimerAndPut.tsx
  hybrid/src/components/game/exitButton.tsx
  hybrid/src/components/layout/SocketConnect.tsx
  hybrid/src/components/main/PlayButton.tsx
  hybrid/src/components/main/RoomItem.tsx
  hybrid/src/components/main/Rooms.tsx
  hybrid/src/components/main/SearchBar.tsx
  hybrid/src/hooks/useEnterPage.tsx
  hybrid/src/hooks/useRequest.tsx
  hybrid/src/socket/requestHandler.tsx
Labels: client

#46 [Style] global-style 및 theme 선언 #45
  hybrid/src/styles/global-style.tsx
  hybrid/src/styles/style.d.ts
  hybrid/src/styles/theme.ts
Labels: client

#48 [Feat] 방 나가면 유저의 ready 초기화 및 게임중 방 나가기 클릭하면 give up 처리 #31
  hybrid/src/components/game/KickoutButton.tsx
  hybrid/src/components/game/exitButton.tsx
  hybrid/src/socket/responseHandler.tsx
  hybrid/src/socket/routeResponse.ts
  hybrid/src/utils/recoil/socket.ts
  socketserver/app/srcs/packet/PacketManager.cpp
  socketserver/app/srcs/packet/PacketManager.hpp
  socketserver/app/srcs/room/Room.cpp
Labels: client, c++ server

#50 [Feat] 게임 타이머 구현 및 소켓 연결 종료시 관련 객체(유저, 방, 게임) 초기화 #32
  hybrid/src/components/game/OmokBoard.tsx
  hybrid/src/components/game/Timer.tsx
  hybrid/src/components/game/TimerAndPut.tsx
  hybrid/src/hooks/useDrawOkmok.tsx
  hybrid/src/hooks/useTimer.tsx
  hybrid/src/socket/responseHandler.tsx
  hybrid/src/utils/constants.ts
  socketserver/app/CMakeLists.txt
  socketserver/app/srcs/game/Game.cpp
  socketserver/app/srcs/game/Game.hpp
  socketserver/app/srcs/game/GameManager.cpp
  socketserver/app/srcs/game/GameManager.hpp
  socketserver/app/srcs/game/GameTimer.cpp
  socketserver/app/srcs/game/GameTimer.hpp
  socketserver/app/srcs/game/Okmok.hpp
  socketserver/app/srcs/packet/Packet.hpp
  socketserver/app/srcs/packet/PacketID.hpp
  socketserver/app/srcs/packet/PacketManager.cpp
  socketserver/app/srcs/packet/PacketManager.hpp
  socketserver/app/srcs/room/RoomManager.cpp
  socketserver/app/srcs/server/WebSocketServer.cpp
  socketserver/app/srcs/server/WebSocketServer.hpp
  socketserver/app/srcs/session/Session.hpp
  socketserver/app/srcs/user/User.cpp
  socketserver/app/srcs/user/User.hpp
  socketserver/app/srcs/user/UserManager.cpp
Labels: client, c++ server

#52 [Refactor] Timer의 중복되는 turn정보 코드 제거 및 useTurn의 필요없는 useEffect 제거#32
  hybrid/src/components/game/Timer.tsx
  hybrid/src/hooks/useDrawOkmok.tsx
  hybrid/src/hooks/useTurn.tsx
Labels: client

#53 [Refactor/Style] 반응형 설정 및 메인페이지 스타일 적용, 버튼 컴포넌트로 추출 #45
  hybrid/src/components/buttons/ExitEnterButton.tsx
  hybrid/src/components/buttons/GameButton.tsx
  hybrid/src/components/buttons/PlayPutButton.tsx
  hybrid/src/components/game/GiveupButton.tsx
  hybrid/src/components/game/KickoutButton.tsx
  hybrid/src/components/game/exitButton.tsx
  hybrid/src/components/layout/Footer.tsx
  hybrid/src/components/layout/Header.tsx
  hybrid/src/components/layout/Layout.tsx
  hybrid/src/components/main/PlayButton.tsx
  hybrid/src/components/main/RoomItem.tsx
  hybrid/src/components/main/SearchBar.tsx
  hybrid/src/pages/index.tsx
  hybrid/src/styles/common-style.ts
  hybrid/src/styles/global-style.tsx
  hybrid/src/styles/style.d.ts
  hybrid/src/styles/theme.ts
Labels: client

#55 [Feat] 404 페이지 구현 close #54
  hybrid/src/components/animation/ShiningBackground.tsx
  hybrid/src/components/buttons/ShiningButton.tsx
  hybrid/src/pages/404.tsx
Labels: client

#57 [Feat] 도커 추가 및 리눅스 환경에서 빌드 가능하도록 소스 수정 close #56
  socketserver/app/CMakeLists.txt
  socketserver/app/srcs/game/Game.hpp
  socketserver/app/srcs/game/Okmok.hpp
  socketserver/app/srcs/game/linux/GameTimer.cpp
  socketserver/app/srcs/game/linux/GameTimer.hpp
  socketserver/app/srcs/game/mac/GameTimer.cpp
  socketserver/app/srcs/game/mac/GameTimer.hpp
  socketserver/app/srcs/packet/Packet.hpp
  socketserver/app/srcs/packet/PacketErrorCode.hpp
  socketserver/app/srcs/packet/PacketID.hpp
  socketserver/app/srcs/packet/PacketManager.cpp
  socketserver/app/srcs/room/Room.hpp
  socketserver/app/srcs/user/User.hpp
  socketserver/app/srcs/util/PocoType.hpp
  socketserver/dockers/.gitkeep
  socketserver/dockers/docker-compose.yml
  socketserver/dockers/server/Dockerfile
  socketserver/scripts/check_install.sh
Labels: c++ server

#60 Feat/폰트적용및스타일수정
  hybrid/src/components/game/GameResultModal.tsx
  hybrid/src/components/game/Player.tsx
  hybrid/src/components/layout/GameLayout.tsx
  hybrid/src/components/layout/Header.tsx
  hybrid/src/pages/game.tsx
  hybrid/src/pages/index.tsx
  hybrid/src/styles/global-style.tsx
Labels: client
